name: ssi-fcgi

services:
  apache:
    build: ./apache
    container_name: apache
    ports:
      - "80:80"
    volumes:
      - "./sftp_content:/usr/local/apache2/htdocs/1.25.3/"
      - "./sftp_content:/usr/local/apache2/htdocs/"
    networks:
      - fcgi

  # pre-change-715680:
  #   build:
  #     context: ./golang-fcgi
  #     dockerfile: Dockerfile.fail
  #   container_name: broken_go
  #   networks:
  #     - fcgi

  # golang:
  #   build:
  #     context: ./golang-fcgi
  #     dockerfile: Dockerfile.success
  #   container_name: working_go
  #   networks:
  #     - fcgi

networks:
  fcgi: {}
