name: myPortal

services:
  keycloak:
    image: quay.io/keycloak/keycloak
    container_name: keycloak
    command:
      - start-dev
      - --import-realm
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: tempadmin
      KC_BOOTSTRAP_ADMIN_PASSWORD: temppassword
      KEYCLOAK_ADMIN: keycloakadmin
      KEYCLOAK_ADMIN_PASSWORD: keycloakadminpassword
      KC_HOSTNAME: localhost
      KC_HOSTNAME_STRICT: false
    volumes:
      - ./idp:/opt/keycloak/data/import
    # ports:
    #   - "127.0.0.1:8080:8080"
    networks:
      - enterprise

  apache:
    build: ./apache
    container_name: apache
    ports:
      - "80:80"
      - "8080:8080"
      - "8500:8500"
    depends_on:
      - keycloak
    volumes:
      - "./sftp_content:/var/www/html/1.25.3/:ro"
      - "./sftp_content:/var/www/html/:ro"
    networks:
      - enterprise

  pre-change-715680:
    build:
      context: ./golang-fcgi
      dockerfile: Dockerfile.fail
    container_name: broken_go
    networks:
      - enterprise

  golang:
    build:
      context: ./golang-fcgi
      dockerfile: Dockerfile.success
    container_name: working_go
    networks:
      - enterprise

networks:
  enterprise: {}
