{{- if .Authenticated }}
<header id="globalHeader">
    <a class="skiptocontent sr-only" href="#main-content">Skip to main content</a>
    <div id="globalHeaderMain">
        <div class="portalTitle">
            <span>my</span>
            <span>Portal</span>
        </div>
        <div class="portalHeaderItems">
            {{- if .Authenticated }}
            <p>{{ .Name }}</p>
            <button class="user-menu">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>User</title>
                    <path
                        d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                </svg>
            </button>
            {{end -}}
            <button class="notifications">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <title>Notification Bell</title>
                    <path
                        d="M21,19V20H3V19L5,17V11C5,7.9 7.03,5.17 10,4.29C10,4.19 10,4.1 10,4A2,2 0 0,1 12,2A2,2 0 0,1 14,4C14,4.1 14,4.19 14,4.29C16.97,5.17 19,7.9 19,11V17L21,19M14,21A2,2 0 0,1 12,23A2,2 0 0,1 10,21" />
                </svg>
            </button>
        </div>
    </div>
    <nav>
        <menu>
            <li><button>Employee Resources</button></li>
            <li><button>Sales Resources</button></li>
            <li><button>CSR Resources</button></li>
            <li><button>People Management</button></li>
        </menu>
    </nav>
</header>
{{ else -}}
<header>
    Enterprise Portal Example
</header>
{{- end -}}