*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 2;
}

.portalTitle {
    display: flex;
    width: fit-content;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: bold;

    >span:first-child {
        font-size: 3rem;
        vertical-align: super;
        margin-block-start: -.3ex;
    }

    >span:last-child {
        text-transform: uppercase;
    }
}

#globalHeader {
    background-color: #f3f1ec;

    #globalHeaderMain {
        position: relative;
        position: relative;
        padding: 10px 2rem;
    }

    .portalHeaderItems {
        display: grid;
        grid-auto-flow: column;
        place-items: center;
        position: absolute;
        inset-inline-end: 2rem;
        inset-block-start: .5rem;
        gap: 10px;

        > button {
            all: unset;
            width: 40px;
            aspect-ratio: 1;
            display: grid;
            place-items: center;

            &.user-menu {
                background: black;
                border-radius: 50%;

                svg {
                    fill: white;

                }
            }

            svg {
                width: 30px;
            }
        }
    }

    nav {
        padding-inline-start: 10px;
        background: white;
        border-block: 1px solid #b2a18b;

        menu {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            > li {
                position: relative;
                width: fit-content;

                menu {
                    display: none;
                    position: absolute;
                    flex-direction: column;background-color: #f3f1ec;
                    min-width: 100%;

                    li { width: 100%; }

                    a {
                        display: block;
                        width: 100%;
                        white-space: nowrap;
                        padding: 1em .5em;
                        color:#331d00;

                        &:hover,
                        &:focus {
                            background-color: #331d00;
                            color: white;
                            text-decoration: none;
                        }
                    }
                }
            }

            button {
                all: unset;
                padding: 15px 20px;
                cursor: pointer;

                &:hover, &:focus, &:has(+ menu:hover, + menu:focus-within) {
                    background-color: #331d00;
                    color: white;
                }
            }

            li:has(#logout) {
                justify-self: end;
                margin-inline-start: auto;
                margin-inline-end: 2rem;
            }

            a#logout {
                display: block;
                padding: 15px 20px;
                text-decoration: none;
                color: inherit;

                &:hover, &:focus {
                    background-color: #331d00;
                    color: white;
                }
            }
        }
    }

    nav menu li:has(button:hover, button:focus, menu:hover, menu:focus-within) button + menu {
        display: block;
        box-shadow: 5px 5px 10px rgba(0 0 0 / .3);
    }

    .skiptocontent {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        width: 1px;
        display: block;
        position: absolute;
        top: 0;
        left: 50%;
        margin-left: -80px;
        background-color: #331d00;
        color: #fff;
        padding: 15px;
        z-index: var(--z-index-jenny);

        &:focus {
            width: auto;
            height: auto;
            color: #fff;
            clip: auto;
            overflow: visible;
        }

        &:hover {
            color: #fff;
        }
    }
}

#globalFooter {
    display: grid;
    place-items: center;
    background: linear-gradient(to top, #b2a18b, #f2f0eb);

    #departmentFooter {
        width: 100%;
        background: linear-gradient(to top, rgba(from #dbad61 r g b / .25), rgba(255 255 255 / .5));
        font-size: small;
        padding-block: 10px;
        text-align: center;

        .company-callout {
            display: block;
            font-weight: bold;
            font-size: 1rem;
        }
    }

    #companyFooter {
        padding-block: 20px 40px;
    }

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        justify-content: center;
        align-items: center;

        a {
            color: currentColor;
        }

        &#company-contact {
            margin-block: 15px;

            li+li {
                &::before {
                    content: '\2022';
                    position: relative;
                    padding: 0 7px 0 10px;
                }
            }
        }

        &#company-legalese {
            margin-block: 15px 10px;

            li+li {
                &::before {
                    content: '|';
                    position: relative;
                    padding: 0 7px 0 10px;
                }
            }
        }

        &.company-social {
            gap: 5px;

            a {
                display: grid;
                place-items: center;
                min-width: 48px;
                min-height: 48px;
                padding: 5px;
            }

            svg {
                width: 42px;
                aspect-ratio: 1;
                fill: currentColor;
            }

            img[src^="https://go-review"] {
                filter: grayscale(1) invert(1) brightness(2) contrast(1.5);
                width: 35px;
            }
        }
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
    position: static;
    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto
}